<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for future backend integration -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Package visibility for camera intent (Android 11+) -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".MRFCManagerApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MRFCManager"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- Splash Screen - Main Launcher -->
        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MRFCManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication Activities -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />

        <!-- Admin Activities -->
        <activity
            android:name=".ui.admin.AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.MRFCListActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <activity
            android:name=".ui.admin.MRFCDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.MRFCListActivity" />

        <activity
            android:name=".ui.admin.ProponentListActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.MRFCDetailActivity" />

        <activity
            android:name=".ui.admin.ProponentDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.ProponentListActivity" />

        <activity
            android:name=".ui.admin.FileUploadActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <activity
            android:name=".ui.admin.CreateMRFCActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.MRFCListActivity" />

        <activity
            android:name=".ui.admin.EditMRFCActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.MRFCDetailActivity" />

        <activity
            android:name=".ui.admin.DocumentReviewActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <activity
            android:name=".ui.admin.AttendanceActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <activity
            android:name=".ui.admin.ComplianceDashboardActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <activity
            android:name=".ui.admin.NotificationActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <!-- SUPER_ADMIN User Management Activities -->
        <activity
            android:name=".ui.admin.UserManagementActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <activity
            android:name=".ui.admin.CreateUserActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.UserManagementActivity" />

        <activity
            android:name=".ui.admin.EditUserActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.UserManagementActivity" />

        <!-- Meeting Management Activities (New UX Flow) -->
        <activity
            android:name=".ui.meeting.QuarterSelectionActivity"
            android:exported="false"
            android:parentActivityName=".ui.admin.AdminDashboardActivity" />

        <activity
            android:name=".ui.meeting.MeetingListActivity"
            android:exported="false"
            android:parentActivityName=".ui.meeting.QuarterSelectionActivity" />

        <activity
            android:name=".ui.meeting.MeetingDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.meeting.MeetingListActivity" />

        <!-- User Activities -->
        <activity
            android:name=".ui.user.UserDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".ui.user.MRFCSelectionActivity"
            android:exported="false"
            android:parentActivityName=".ui.user.UserDashboardActivity" />

        <activity
            android:name=".ui.user.ProponentViewActivity"
            android:exported="false"
            android:parentActivityName=".ui.user.MRFCSelectionActivity" />

        <activity
            android:name=".ui.user.AgendaViewActivity"
            android:exported="false"
            android:parentActivityName=".ui.user.ProponentViewActivity" />

        <activity
            android:name=".ui.user.NotesActivity"
            android:exported="false"
            android:parentActivityName=".ui.user.UserDashboardActivity" />

        <activity
            android:name=".ui.user.DocumentListActivity"
            android:exported="false"
            android:parentActivityName=".ui.user.UserDashboardActivity" />

        <!-- Original MainActivity (kept for reference, can be removed) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>
